/* TODO: I really went overboard with the colors, and the readability isn't great even after lightening the background image. 
I need to find ways to incorporate the red and teal without using them directly for so much of the text.
// Even less switching back and forth would be better.
 */

body {
  font-family: 'Work Sans', 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
  text-align: center;
  margin: 0;
}

/* padding-bottom is set really big because if I didn't, the repeats stopped before the end of the phone screens. 
I know there's a right way to set this, but it'll have to come later. */
.background {
  background-image: url("images/skates_50percent.png");
  background-size: contain;
  background-repeat: repeat;
  padding: 5% 10px 200% 10px;
  background-position: center top;
}

h1 {
  font-family: 'Audiowide', cursive;
  font-size: 50px;
  line-height: 1.05;
  color: #00a3a3;
  margin-top: -5px;
  margin-bottom: 0;
  text-shadow:
    -1px -1px 0 #a30000,
    1px -1px 0 #a30000,
    -1px 1px 0 #a30000,
    1px 1px 0 #a30000;
}

#name {
  font-size: 65px;
  text-shadow:
    -2px -2px 20px #a30000,
    2px -2px 20px #a30000,
    -2px 2px 20px #a30000,
    2px 2px 20px #a30000;
  margin-top: 0;
  margin-bottom: -8px;
}

h2,
h3,
h4 {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow:
    -1px -1px 1px #111,
    1px -1px 1px #111,
    -1px 1px 1px #111,
    1px 1px 1px #111;
}

h2 {
  font-size: 45px;
  line-height: 1.0;
  color: #a30000;
  margin-top: 15px;
  margin-bottom: -5px;
}

h3 {
  color: #00a3a3;
  font-size: 45px;
  line-height: 1.0;
  margin-top: 30px;
  margin-bottom: 0;
}

h4 {
  color: #a30000;
  font-size: 40px;
  margin-top: 10px;
}

h4.skater-tracker {
  color: #00a3a3;
}

div.previous-entries {
  margin-top: 30px;
}

.previous-entries h3 {
  margin-top: 10px;
}

.previous-entties h4 {
  color: #a30000;
}

.digits {
  font-family: 'Work Sans', 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
  font-size: 75px;
  font-weight: 800;
  color: #e4d8cd;
  opacity: .85;
  text-shadow:
    -1px -1px 1px #111,
    -1px 1px 1px #111,
    1px -1px 1px #111,
    1px 1px 1px #111;
  margin-top: 0;
  margin-bottom: 0;
}

div.div-butt {
  margin: 18px auto 30px auto;
}

button {
  background: #a30000;
  color: #e4d8cd;
  font-weight: 600;
  font-family: inherit;
  font-size: 30px;
  text-shadow:
    -1px -1px 1px #111,
    1px -1px 1px #111,
    -1px 1px 1px #111,
    1px 1px 1px #111;
  width: 120px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 2px 2px #555;
  margin: 0 2%;
}

hr {
  margin-top: 15px;
  width: 50%;
  max-width: 300px;
  height: 3px;
  border-top: 4px solid #00a3a3;
  border-bottom: 3px solid #a30000;
  border-right: none;
  border-left: none;
}