body {
    font-family: 'Work Sans', Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0;
}

p {
    margin: 5px;
}

.background {
    background-image: url("images/skates_straightened_brightened.jpg");
    background-size: contain;
    background-repeat: repeat;
    padding: 5% 10px 100% 10px;
    background-position: center top;
}

h1 {
    font-family: 'Audiowide', cursive;
    font-size: 40px;
    color: #00cccc;
    /* text-shadow: 0px 0px 3px #cc0000; */
    margin-top: 2px;
    margin-bottom: 10px;
    /* color: white; */
    text-shadow:
        -1px -1px 0px #000,
        1px -1px 0px #000,
        -1px 1px 0px #000,
        1px 1px 0px #000;
}

#name {
    font-size: 60px;
    text-shadow:
        -2px -2px 10px #cc0000,
        2px -2px 10px #cc0000,
        -2px 2px 10px #cc0000,
        2px 2px 10px #cc0000;
    margin-bottom: -8px;
}

h2,
h3 {
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow:
        -1px -1px 1px #000,
        1px -1px 1px #000,
        -1px 1px 1px #000,
        1px 1px 1px #000;
}

h2 {
    font-size: 35px;
    color: #cc0000;
}
h3 {
    color:#00cccc;
    font-size: 27px;
    line-height: 1.3;
    /* margin-top: 0; */
}

/* .transbox {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-content: center;
    background: rgba(0, 0, 0, 0.1);
    padding:0;
    margin: 20px auto;
} */

.digits {
    font-family: 'Work Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: #00cccc;
    text-shadow:
        -1px -1px 1px #000,
        1px -1px 1px #000,
        -1px 1px 1px #000,
        1px 1px 1px #000;
    /* margin-top: -5px */
}

div.butt {
    margin: 5px auto;
}

button {
    background: #cc0000;
    color: aliceblue;
    font-family: inherit;
    font-size: 22px;
    text-shadow:
    -1px -1px 1px #000,
    1px -1px 1px #000,
    -1px 1px 1px #000,
    1px 1px 1px #000;

    width: 120px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px #555;
    margin: 0px 2%;
}

#increment-btn {
    /* background: #cc0000; */
}

#save-btn {
    /* background: #00cccc; */
}